/*fonts*/
     /*using for topname*/
    @font-face
    {
        font-family: V-de-vacia-deFharo;
        src: url(../fonts/V-de-vacia-deFharo.ttf);
    }
    /*using for legends*/
    @font-face
    {
        font-family: icicle_country_2;
        src: url(../fonts/icicle-country-2/icicle_country_2.ttf);
    }


    @font-face
    {
       font-family:Gatintas;
       src: url(../fonts/c-a-gatintas/Gatintas.ttf);
    }

    @font-face
    {
       font-family:hugo-z;
       src: url(../fonts/hugo-z/Hugo.ttf);
    }

    @font-face
    {
       font-family:StayPuft;
       src: url(../fonts/staypuft/StayPuft.ttf);
    }

    @font-face
    {
       font-family:usis-1949;
       src: url(../fonts/usis-1949/USIS.ttf);
    }

    @font-face
    {
       font-family:galvanizeburn;
       src: url(../fonts/galvanizeburn/GalvanizeBurn.ttf);
    }

    @font-face
    {
       font-family:goodfish;
       src: url(../fonts/goodfish/goodfishrg.ttf);
    }




/*navbar*/

     /*header*/
         .TopName
         {
             font-family: V-de-vacia-deFharo;
             font-size: 35px;
             color: #337ab7;
         }

     /*images for drop down menus*/
          ul li.snowflake-icon
          {
              background-image: url("../img/Snowflake.png");
              background-repeat: no-repeat;
              background-position: 93% 0%;
          }

          .dropdown-menu > li.snowflake-icon > a:hover
          {
               background-image: url("../img/Snowflake.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }

          ul li.box-open-icon
          {
               background-image: url("../img/box-open.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }

          .dropdown-menu > li.box-open-icon > a:hover
          {
               background-image: url("../img/box-open.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }

          ul li.test-tube-icon
          {
               background-image: url("../img/Test_Tube_2.png");
               background-repeat: no-repeat;
               background-position: 90% 0%;
          }

          .dropdown-menu > li.test-tube-icon > a:hover
          {
               background-image: url("../img/Test_Tube_2.png");
               background-repeat: no-repeat;
               background-position: 90% 0%;
          }

          ul li.group-icon
          {
               background-image: url("../img/group.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }

          .dropdown-menu > li.group-icon > a:hover
          {
               background-image: url("../img/group.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }

          ul li.numbers-icon
          {
               background-image: url("../img/numbers.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }

          .dropdown-menu > li.numbers-icon > a:hover
          {
               background-image: url("../img/numbers.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }


          ul li.request-icon
          {
               background-image: url("../img/request.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }

          .dropdown-menu > li.request-icon > a:hover
          {
               background-image: url("../img/request.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }


          ul li.irb-icon
          {
               background-image: url("../img/irb.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }

          .dropdown-menu > li.irb-icon > a:hover
          {
               background-image: url("../img/irb.png");
               background-repeat: no-repeat;
               background-position: 93% 0%;
          }


/*home page*/
     #welcome
     {
          font-family: icicle_country_2;
          font-size: 28px;
          margin-bottom: 20px;

     }

     /*.fullCell, .activeFullCell
     {
          font-family: goodfish;
          font-size: 15px;
     }*/

/*main*/
    main
    {
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 60px;
    }
    button a
    {
         color:white;
    }
/*dialog*/
     .ui-dialog-titlebar-close
     {
         visibility: hidden;
     }
/*alerts*/
     .alert
     {
          font-size:20px;
     }


/*fieldset formating*/
    fieldset {
        border: 1px solid black;
        padding: 0 1.4em 1.4em 1.4em;
        margin: 0 0 1.5em 0;
    }

    legend {
        font-family: icicle_country_2;
        font-size:40px;
        color:white;
        border: solid 1px #DDD !important;
        padding: 0 10px 0px 10px;
        border-bottom: none;
        border-radius: 10px;
        width: auto !important;
        border: none;
        font-size: 14px;
        background-color: #337ab7;
    }
    .required-field
    {
         color:red;
         font-size:20px;
    }
    .unique-field
    {
        color:green;
        font-size:20px;
    }
/*grid*/
    .grid
    {

        border-spacing:0.2rem;
        font-family:sans-serif; font-size:13px;
    }
    td.fullCell, td.headerCell, td.emptyCell, td.clickedEmpty, td.activeFullCell, td.oneActiveCell
    {
        width:50px;
        height:50px;
        border:1px solid #ccc;
        box-shadow: 2px 2px grey;
        text-align:center;
        border-radius:5px;
        font-family: goodfish;
        font-size: 15px;
        word-break: break-all;
    }
    td.emptyCell:hover, td.fullCell
    {
         cursor:pointer;
    }
    td.fullCell
    {
        border-radius:50px;
        box-shadow: 2px 2px grey;
    }
    td.clickedEmpty
    {
        background-color:yellow;
        box-shadow: 0px 0px ;
    }
    td.headerCell
    {
        cursor:auto;
        border:0px solid #ccc;
        box-shadow: 0px 0px ;
    }
    td.activeFullCell, td.oneActiveCell
    {
        border:4px solid #337ab7;
        border-radius:50px;
        box-shadow: 2px 2px;
    }
    div#boxHeader
    {
        text-align: center;
    }
    .cellSpot
    {
        margin-left: 15px;
    }

    #accordion-show-hide
    {
         margin-top:60px;
    }

/*Box Table and freezer Table*/

    table#addedBoxesList, table#selectedBox, table.QueryInfo, table.print_info
    {
        border-collapse: collapse;
        text-align: center;
    }
    #addedBoxesList, #selectedBox, .QueryInfo, .print_info
    {
        background-color: #eee;
        border-top: 1px solid #fff;
    }

    .description-col
    {
         width:145px;
         font-weight: bold;
    }

    .smaller-type
    {
         font-size: 14px;
    }

    /*Hovering over list rows*/
    tr.hover_row:hover
    {
         background-color: grey;
         cursor:pointer;
    }

    .hover_accordion:hover
    {
         cursor:pointer;
    }

    #selectedBox th
    {
        background-color: #fff;
    }
    #addedBoxesList th, #addedBoxesList td, #selectedBox th, #selectedBox td, .QueryInfo th, .QueryInfo td, .print_info th, .print_info td
    {
        padding: 3px 5px;
    }

    .QueryInfo, .print_info
    {
        border-collapse: collapse;
        width: 100%;
    }
    .QueryInfo th,.print_info th
    {
          color: white;
          text-align: center;
          padding-left: 8px;
          padding-right: 8px;
          padding-top: 12px;
          padding-bottom: 12px;
    }
    .QueryInfo th
    {
        background-color: #337AB7;
    }

    .QueryInfo tr, .QueryInfo td, .QueryInfo th, .print_info td, .print_info th
    {
        border: 1px solid #ccc;
    }

    /*Hide search box for search tubes*/
    #tubeSearchResults_filter
    {
         display:none;
    }



    /*header of print info table*/
     .print_info th
     {
         background-color: #5cb85c;
     }

    /*hightlight when clicked*/
    .selected
    {
        background-color: yellow;
    }
/*notes*/
    .notes
    {
        margin-left: 10px;
    }
    .notes
    {
        font-weight: bold;
    }

/*a:link,a:visited,a:active
{
	color:white
}*/
    /*nav bar*/
        .collapse.navbar-collapse
        {
            padding-left: 0px;
        }
        .navbar-form.navbar-left
        {
            padding-left: 0px;
        }
        /*bar shadow*/
            .navbar.navbar-inverse
            {
                box-shadow: 10px 10px 5px #888888;
            }
        /*buttons*/
            button.btn a:hover
            {
                text-decoration: none;
            }
            .btn
            {
                padding:5px 5px;
            }
        section
        {
            display:inline;
        }


/*index*/
/*    #loginDiv
    {
        background: rgb(34, 34, 34);
        border:1px solid rgb(34, 34, 34);
        border-radius: 20px;
        margin-left: 50px;
        height: 230px;
        color:white;
    }*/

/*login Window*/
    #mainHeader
    {
        background: black;
    }
    #mainLogin
    {
        background: grey;
        margin: 0px 0px 0px 0px;
        height:100%;
    }
    #loginOutsideRow
    {
         background: #337ab7;
         border-radius:10px;
    }
    .FormHeaderCustom
    {
        font-family:icicle_country_2;
        font-size: 20px;
        margin-bottom: 20px;
    }

    #loginCol
    {
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: white;
        padding: 40px 40px 40px 40px;
        border-radius: 10px;
    }
    #imgLogin
    {
        padding: 40px 40px 40px 40px;
    }

     .col-centered
     {
         float: none;
         margin: 0 auto;
     }
     .checkMark
     {
         display:inline;color:#48B613;font-size:30px;
     }


/*error reporting from php*/
    div.error
    {
        color:red;
        font-size: 20px;
    }
    div.userUpdate
    {
        color:green;
        font-size: 20px;
    }
    #requirementsNotMet
    {
        color:red;
    }


/*generatl*/
     .alert
     {
          margin-top: 10px;
     }
     legend
     {
          font-size: 25px;
     }
