/*fonts*/
	@font-face
	{
		font-family: V-de-vacia-deFharo;
		src: url(../fonts/V-de-vacia-deFharo.ttf);
	}

     @font-face
     {
         font-family: icicle_country_2;
         src: url(../fonts/icicle-country-2/icicle_country_2.ttf);
     }

/* desktop */
@media (min-width: 1200px)
{
     html
     {
          font-size:20px;
     }

     /*Nav side bar buttons*/
     li.nav-buttons > a
     {
          width:13em;
          white-space:normal !important;
     }

     .carousel, .carousel-inner, .carousel-inner .item
     {
         height: 32em;
     }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 1199px)
{
     html
	{
		font-size:18px;
	}

     /*Nav side bar buttons*/
     li.nav-buttons > a
     {
          width:10em;
          white-space:normal !important;
     }

     .carousel, .carousel-inner, .carousel-inner .item
     {
         height: 47em;
     }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px)
{
     html
	{
		font-size:16px;
	}

     /*Nav side bar buttons*/
     li.nav-buttons > a
     {
          width:10em;
          white-space:normal !important;
     }

     .carousel, .carousel-inner, .carousel-inner .item
     {
         height: 47em;
     }
}

/* Landscape phones and down */
@media (max-width: 480px)
{
     html
	{
		font-size:14px;
	}

     /*Nav side bar buttons*/
     li.nav-buttons > a
     {
          width:10em;
          white-space:normal !important;
     }

     .carousel, .carousel-inner, .carousel-inner .item
     {
         height: 47em;
     }
}

#TopName /* Used for formatting webpage name */
{
     color: #337ab7;
     font-family: V-de-vacia-deFharo;
     font-size: 2.7em;
}

main
{
     margin: 2em 1em 3em 1em;
}

button a
{
    color:white;
}

/*nav bar*/
     .collapse.navbar-collapse
     {
          padding-left: 0em;
     }
     .navbar-form.navbar-left
     {
          padding-left: 0em;
     }
     /*navbar shadow*/
     .navbar.navbar-inverse
     {
          box-shadow: .8em .8em .4em #888888;
     }

/*fieldset formating*/
     fieldset
     {
          border: .01em solid black;
          padding: 0 1.4em 1.4em 1.4em;
          margin: 0 0 1.5em 0;
     }

     fieldset > div > ul.list-unstyled.list-inline > li
     {
          margin-left:30px;
     }

     legend
     {
          background-color: #337ab7;
          border: solid .01em #DDD !important;
          border-bottom: none;
          border-radius: .5em;
          color:white;
          font-family: icicle_country_2;
          font-size:2em;
          padding: 0em .5em 0em .5em;
          width: auto !important;
     }

/*Change color of text for code used for writting sql and anything in terminal*/
     .code
     {
         color: #cc3558;
     }

     .terminal
     {
         color: #337ab7;
     }

	.return_code
	{
		color:#18a359;
	}

/*buttons*/
     button.btn a:hover
     {
          text-decoration: none;
     }
     .btn
     {
          padding:.4em .4em;
     }
     section
     {
          display:inline;
     }

/*sub menus*/
     .dropdown-submenu
     {
         position: relative;
     }

     .dropdown-submenu>.dropdown-menu
     {
         top: 0;
         left: 100%;
         margin-top: -6px;
         margin-left: -1px;
         -webkit-border-radius: 0 6px 6px 6px;
         -moz-border-radius: 0 6px 6px;
         border-radius: 0 6px 6px 6px;
     }

     .dropdown-submenu:hover>.dropdown-menu
     {
         display: block;
     }

     .dropdown-submenu>a:after
     {
         display: block;
         content: " ";
         float: right;
         width: 0;
         height: 0;
         border-color: transparent;
         border-style: solid;
         border-width: 5px 0 5px 5px;
         border-left-color: #ccc;
         margin-top: 5px;
         margin-right: -10px;
     }

     .dropdown-submenu:hover>a:after
     {
         border-left-color: #fff;
     }

     .dropdown-submenu.pull-left
     {
         float: none;
     }

     .dropdown-submenu.pull-left>.dropdown-menu
     {
         left: -100%;
         margin-left: 10px;
         -webkit-border-radius: 6px 0 6px 6px;
         -moz-border-radius: 6px 0 6px 6px;
         border-radius: 6px 0 6px 6px;
     }

/*Banners*/
	.Grey-Banner
	{
		background:#eee;
		border-color: #999999;
		border-width: .01em;
	}

/*carousel*/
     .carousel-fade
     {
          .carousel-inner
          {

               .item
               {
                    transition-property: opacity;
                    transition-duration: 5s;
               }

               .item, .active.left, .active.right
               {
                    opacity: 0;
               }

               .active, .next.left, .prev.right
               {
                    opacity: 1;
               }

               .next, .prev, .active.left, .active.right
               {
                    left: 0;
                    transform: translate3d(0, 0, 0);
               }
          }

          .carousel-control
          {
               z-index: 2;
          }
     }

     .item
     {
          background: #337ab7;
          padding: 1.2em;
     }

	.carousel-slide-title
	{
          clear:left;
          color: #337ab7;
          background: white;
          border-radius: .1em;
          box-shadow: .2em .2em 2em 0em rgba(0,0,0,0.75);
          display: inline-block;
          float:left;
          font-size: 3em;
          padding: .2em;
          position:relative;
          text-shadow: #fff 0 .01em .01em, #bfbfbf 0 .05em .05em;
	}
	.carousel-slide-info
	{
		color:white;
          font-size:1.8em;
          padding-top:.8em;
	}
     .right.carousel-control, .left.carousel-control
     {
          opacity: 0; /*remove left and right scroll arrow*/
          background-image: none;/*turn off bacrground color*/
     }

     .tall-images
     {
          margin-top:20px;
          margin-bottom:100px;
          height:450px;
          border-radius:8px;
          border:1px solid black;
          box-shadow: 0 10px 6px -6px #777;
          /* center img*/
          display: block;
          margin-left:auto;
          margin-right:auto;
     }



     .landscape-images
     {
          margin-top:100px;
          margin-bottom:100px;
          height:300px;
          border-radius:8px;
          border:1px solid black;
          box-shadow: 0 10px 6px -6px #777;
          /*center img*/
          display: block;
          margin-left:auto;
          margin-right:auto;
     }

     #carouselButtons
     {
          margin-top: .5em;
          background-color: white;
     }

     /*general formating*/
     .top-Margin
     {
     	margin-top:10px;
     }
     .bottom-Margin
     {
     	margin-bottom:10px;
     }

     /*footer*/
     footer div.row
     {
     	margin-top: 20px;
     	background: #337ab7;
     	color:white;
     	height:50px;
     }
     footer div.row div.footerDiv
     {
     	padding-top: 10px;
     }


     hr
     {
          display: block;
          margin-top: 0.5em;
          margin-bottom: 0.5em;
          margin-left: auto;
          margin-right: auto;
          border-style: inset;
          border-width: 1px;
     }
     li
     {
          margin-top:15px;
     }
     .landscape-images
     {
          margin-top:10px;
          margin-bottom:10px;
          height:300px;
          border-radius:8px;
          border:1px solid black;
          box-shadow: 0 10px 6px -6px #777;
     }

/*Turbostrage mamp -install */
     /*format picture size*/
     div > div > div > fieldset > div
     {
          overflow:hidden;
     }
     div > div > div > fieldset > div > ul > li > img
     {
          max-width:100%;
     }
